<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="D:/CodeProject/Java/MyProject/APIAutomationTesting/Project_2/API_Automation/src/main/java/rough/APIChainingTest.java">
        <classes>
            <class name="rough.APIChainingTest">
                <methods>
                    <include name="createUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>